[Desktop Entry]
Name=min256-finder
Comment=Calculate SHA256 of ISO files
Comment[it]=Calcola SHA256 dei file ISO 
Exec=min256-finder
Icon=min256-finder
Terminal=false
Type=Application
Categories=Utility;
